extends baseEmail

block content
  h2 Dispatch Notification
  p Hello #{userName},
  p We hope this email finds you well. We want to inform you that your package has been dispatched and currently on transit. Here are the details:

  table(style="font-family: Arial, sans-serif;")
    tr
      td(style="font-weight: bold;") Package Name:
      td #{packageName}
    tr
      td(style="font-weight: bold;") Tracking Number:
      td [#{trackingNumber}]
    tr
      td(style="font-weight: bold;") Status:
      td #{status}
    tr
      td(style="font-weight: bold;") Estimated Time of Arrival:
      td #{ETA}
    tr
      td(style="font-weight: bold;") Dispatch Date:
      td #{dispatchDate}


  p Please note that the package is currently in transit and may take some time to reach its destination. We appreciate your patience.
  p Thank you for choosing our services. We look forward to delivering your package successfully.
  p Best regards,
  p Real Logistics Inc

  p For questions and enquiries you can reach us via-
  p email: gozieelendu@gmail.com
